In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import time
import sqlite3

In [2]:
conn=sqlite3.connect("cairo_weather.db")
cursor=conn.execute("CREATE table weather(id integer primary key autoincrement, temp int , wind int , humidity int , vissibility int , pressure int, time_now datetime)")
conn.close

In [21]:
for i in range(10):
    response = requests.request('GET', 'https://eg.freemeteo.com/weather/cairo/current-weather/location/?gid=360630&language=english&country=egypt')
    soup = BeautifulSoup(response.text, 'html.parser')
    
    div = soup.find('div', attrs={'class':'last-renew-info'})
    temp = int(div.find('div', class_='temp').text.replace('Â°C', '')) # 1: Temperature
    
    wind = div.find('div', class_='wind')
    white = wind.find('span', class_='white')
    wind_speed = int(white.find('b').text)  # 2: Wind speed
    
    stats = div.find(class_='stats')
    stats_list = stats.text.split('|')
    
    humidity = stats_list[0].strip().split('\r\n')[1].strip().replace('%', '')    # 3: Humidity
    visibility = stats_list[1].strip().split('\r\n')[1].strip().replace('m', '')  # 4: Visibility
    pressure = stats_list[2].strip().split('\r\n')[1].strip().split('mb')[0]    # 5: Pressure
    
    date = datetime.now()  # 6: time_now
    
    ###### YOUR CODE HERE
    conn=sqlite3.connect("cairo_weather.db")
    weather=conn.execute("insert into weather (temp, wind, humidity, vissibility, pressure, time_now ) values(?,?,?,?,?,?)", [temp, wind_speed, humidity, visibility, pressure, date])
    conn.commit()
   
    print(temp, wind_speed, humidity, visibility, pressure, date, sep=" || ")
    
    time.sleep(1)
    conn.close()

14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:21.250156
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:23.129695
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:25.188782
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:27.189290
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:29.166206
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:31.215356
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:33.221904
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:35.180620
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:37.161308
14 || 6 || 77 || 6000 || 1021.0 || 2021-12-23 21:36:39.185576

In [22]:

conn=sqlite3.connect("cairo_weather.db")
weather=conn.execute("select * from weather").fetchall()
conn.close()
weather

[(1, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:21.250156'),
 (2, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:23.129695'),
 (3, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:25.188782'),
 (4, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:27.189290'),
 (5, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:29.166206'),
 (6, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:31.215356'),
 (7, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:33.221904'),
 (8, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:35.180620'),
 (9, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:37.161308'),
 (10, 14, 6, 77, 6000, 1021, '2021-12-23 21:36:39.185576')]

In [23]:
import pandas as pd
conn=sqlite3.connect("cairo_weather.db")
df=pd.read_sql("select * from weather",conn)
conn.close()
df

   id  temp  wind  humidity  vissibility  pressure                    time_now
0   1    14     6        77         6000      1021  2021-12-23 21:36:21.250156
1   2    14     6        77         6000      1021  2021-12-23 21:36:23.129695
2   3    14     6        77         6000      1021  2021-12-23 21:36:25.188782
3   4    14     6        77         6000      1021  2021-12-23 21:36:27.189290
4   5    14     6        77         6000      1021  2021-12-23 21:36:29.166206
5   6    14     6        77         6000      1021  2021-12-23 21:36:31.215356
6   7    14     6        77         6000      1021  2021-12-23 21:36:33.221904
7   8    14     6        77         6000      1021  2021-12-23 21:36:35.180620
8   9    14     6        77         6000      1021  2021-12-23 21:36:37.161308
9  10    14     6        77         6000      1021  2021-12-23 21:36:39.185576